@import "mixins";

.bonus-banner {
  background-color: var(--bg-block);
  border-radius: 6px;
  overflow: hidden;
  &__wrap {
    background-image: url("../images/bonus-page/banner-bonus.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 39px 20px 52px 20px;

    &__pages {
      display: flex;
      align-items: center;
      gap: 4px;
      margin-bottom: 10px;

      &__name {
        color: #fff;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
      }

      &__name:first-child {
        opacity: 0.84;
      }
      &__line {
        display: flex;
        align-items: center;
        justify-content: center;
      }
      &__line img {
        width: 24px;
        height: 24px;
      }
    }

    &__title {
      @include title;
      max-width: 538px;
      width: 100%;
      color: #fff;
      margin-bottom: 16px;
    }

    &__btn {
      color: #fcfcfc;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 128%; /* 20.48px */
      text-transform: uppercase;
      border-radius: 16px;
      border: 1px solid #fff;
      background-color: var(--primary-color);
      box-shadow: 0px 4px 18px 0px rgba(14, 24, 17, 0.25);
      padding: 12px 32px;
      width: 214px;
      margin-bottom: 10px;
      width: 214px;
      transition: all 0.3s ease-in-out;
    }
    &__btn:hover {
      transform: scale(1.05);
    }

    &__text {
      color: #fff;
      font-size: 6px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
  }
}
