.info {
  background-color: var(--bg-block);
  border-radius: 6px;
  overflow: hidden;
  &__wrap {
    padding: 36px 22px 37px 22px;

    &__content {
      display: flex;
      align-items: flex-start;
      gap: 16px;
      margin-bottom: 16px;

      &__text {
        color: var(--text);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }

      &__circle {
        min-width: 85px;
        min-height: 85px;
        max-width: 85px;
        max-height: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 1px solid var(--text);
      }
      &__circle span {
        color: var(--text);
        font-size: 28px;
        font-style: normal;
        font-weight: 600;
        line-height: 150%; /* 24px */
        text-transform: uppercase;
      }
    }
    &__text {
      color: var(--text);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      margin-bottom: 26px;
    }

    &__logos {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      gap: 20px;

      &__logo:first-child {
        display: flex;
        max-width: 151px;
        width: 100%;
        padding: 6px 30px 8px 31px;
        justify-content: center;
        align-items: center;
        background-color: #141e55;
        color: #fff;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 128%; /* 40.96px */
      }
      &__logo:last-child {
        background-color: #141e55;
        display: flex;
        width: 100%;
        max-width: 253px;
        height: 54px;
        padding: 6px 81px 7px 82px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        color: #fff;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 128%;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .info {
    &__wrap {
      &__content {
        align-items: center;
        flex-direction: column;
      }
    }
  }
}
