@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
  max-width: 100vw;
  background-color: var(--bg);
}

:root {
  --primary-color: #ec622b;
  --secondary-color: #2e9344;
  --text: #192a32;
  --bg: #141e55;
  --bg-block: #ffffff;
  --bg-btn: #1a3769;
}

.container {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}
